<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsyiverson.switches"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <receiver
            android:name="com.lsyiverson.switches.MobileDataAppWidget"
            android:icon="@drawable/appwidget_mobiledata_on"
            android:label="@string/widget_name" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.mobledata.switches.MOBILE_DATA_CHANGED" />
                <action android:name="com.lsyiverson.smc.MOBILE_DATA_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>